{% extends "meal_count/base.html" %}
{% load staticfiles %}
{% load custom_tags %}
{% load i18n %}
{#HTML Template for the Director management page#}



{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/indexstyles.css' %}">
{% endblock %}

{% block scripts %}
    <script>
        {#  Convert django template vars to js vars for use in code#}
        var status_options = {{ all_options|safe }};

    </script>
{% endblock %}

{#Block for nav id to set id to active#}
{% block current-nav-id %}"#home-nav-item"{% endblock %}

{% block content %}
    {#    Success alert/spinner centered on screen in fixed position#}
    <div class="fixed-top mt-4">
        <div class="d-flex justify-content-center">
            <div class="alert alert-success collapse" role="alert"
                 data-dismiss="alert">{% trans "Success!" %}</div>
            <div class="spinner-border collapse" id="status-spinner" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    {#    Pills for page options#}
    <div class="col-md-12 text-center">
        <div class="nav nav-pills center-pills">
            <div class="nav-item dropdown">
                    <a class="nav-link my-2 dropdown-toggle {% if week_delta != "default" %}active{% endif %}" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">{{ days.0.date|date:"M j" }} - {{ days.last.date|date:"M j" }}</a>
                    <div class="dropdown-menu my-2">
                        <a class="dropdown-item"
                           href="{% url 'meal-count:index' %}">{% trans 'Current meal count' %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{% url 'meal-count:altered_index' week_delta|add:"-1" %}">{% trans "Previous Week" %}</a>
                        <a class="dropdown-item"
                           href="{% url 'meal-count:altered_index' week_delta|add:"1" %}">{% trans "Next Week" %}</a>
                    </div>
                </div>
{#                {% if perms.person.is_director %}#}
{#                    <div class="nav-item">#}
{#                        <a class="nav-link"#}
{#                           href="{% url 'meal-count:view_all' week_delta %}">{% trans 'All meal counts' %}</a>#}
{#                    </div>#}
{#                {% endif %}#}
                <div class="nav-item my-2">
                    <a class="nav-link {% if week_delta == "default" %}active{% endif %}" href="{% url 'meal-count:index_default' %}">{% trans 'Default meal count' %}</a>
                </div>
        </div>
    </div>
{#   cards for each meal #}
    <div class="container my-5 d-flex flex-row flex-wrap justify-content-center">
        {% csrf_token %}
        {% for day in days %}
            <div class="card mx-2 my-3 standard-card-width">
                <div class="card-body">
                    <h5 class="card-title">
                        {% if week_delta == "default" %}
                            <span class="ct_cell ct-title-cell"
                                <b>{% trans 'Default' %}</b><br>{{ day.date|date:"l" }}<br></span>
                        {% else %}
                            <span class="ct_cell ct-title-cell"><b>
                                {% ifequal day.date today %}{% trans "Today" %}{% else %}
                                    {{ day.date|date:"l" }}{% endifequal %}</b><br>{{ day.date }}<br></span>
                        {% endif %}
                    </h5>
                <div class="list-group list-group-flush">
                    {% for meal in day.meal_set.all|sort_by:'meal_type__meal_time' %}
                        <div class="list-group-item d-inline-flex">
                            <h6 class="w-50">{% trans meal.meal_type.name context "meal" %}</h6>
                            {% with status=meal.status_set|by_person:person %}
                                <button type="button" class="btn btn-primary w-50 ml-2 status-box {% if meal.disabled %}disabled{% endif %} {% if status.edited_at is None %}text-warning{% endif %}" data-url="{% url 'meal-count:update_status' %}" data-s-class="{{ day.id }}-success">
                                    <span class="status-text" id="{{ status.id }}" >{% trans status.status.abbreviation %}</span>
                                </button>
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>
                </div>
                <div class="card-footer text-muted">
                    {% if day.message is not None %}{% trans day.message %}{% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{#Toolbar for quick select#}
    <div class="btn-toolbar d-flex flex-column position-fixed toolbar-bottom-right mr-2 mb-2" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group-vertical mr-2 tools-selector-group d-none" role="group" aria-label="Selector group">
            {% for option in all_options %}
                <button type="button" class="btn btn-secondary btn-lg tools-option">{% trans option %}</button>
            {% endfor %}
            <button type="button" class="btn btn-secondary btn-lg tools-option active">-</button>
        </div>
        <div class="btn-group-vertical mr-2 mt-1" role="group" aria-label="Indicator group">
            <button type="button" class="btn btn-secondary btn-lg tools-indicator" data-toggle="tooltip" data-placement="left" title="Apply selected option with one click">-</button>
        </div>
    </div>

{% endblock %}
