{% extends "meal_count/base.html" %}
{% load staticfiles %}
{% load custom_tags %}
{% load i18n %}
{#HTML Template for the Director management page#}



{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/indexstyles.css' %}">
{% endblock %}

{% block scripts %}
    <script>
        {#  Convert django template vars to js vars for use in code#}
        var status_options = {{ all_options|safe }};

    </script>
{% endblock %}

{#Block for nav id to set id to active#}
{% block current-nav-id %}"#meals-nav-item"{% endblock %}

{% block content %}
    {#    Success alert/spinner centered on screen in fixed position#}
    <div class="fixed-top mt-4">
        <div class="d-flex justify-content-center">
            <div class="alert alert-success collapse" role="alert"
                 data-dismiss="alert">{% trans "Success!" %}</div>
            <div class="spinner-border collapse" id="status-spinner" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    {#    Pills for page options#}
    <div class="col-md-12 text-center">
        <div class="nav nav-pills center-pills">
            <div class="nav-item dropdown">
                <a class="nav-link my-2 dropdown-toggle {% if week_delta != "default" %}active{% endif %}"
                   data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true"
                   aria-expanded="false">{{ days.0.date|date:"M j" }} - {{ days.last.date|date:"M j" }}</a>
                <div class="dropdown-menu my-2">
                    <a class="dropdown-item"
                       href="{% url 'meal-count:manage_meals' %}">{% trans 'Current meal count' %}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="{% url 'meal-count:manage_meals' week_delta|add:"-1" %}">{% trans "Previous Week" %}</a>
                    <a class="dropdown-item"
                       href="{% url 'meal-count:manage_meals' week_delta|add:"1" %}">{% trans "Next Week" %}</a>
                </div>
            </div>
            {#                {% if perms.person.is_director %}#}
            {#                    <div class="nav-item">#}
            {#                        <a class="nav-link"#}
            {#                           href="{% url 'meal-count:view_all' week_delta %}">{% trans 'All meal counts' %}</a>#}
            {#                    </div>#}
            {#                {% endif %}#}
            {#            <div class="nav-item my-2">#}
            {#                <a class="nav-link {% if week_delta == "default" %}active{% endif %}"#}
            {#                   href="{% url 'meal-count:index_default' %}">{% trans 'Default meal count' %}</a>#}
            {#            </div>#}
        </div>
    </div>

    {#   cards for each meal #}
    <div class="container my-5 d-flex flex-column flex-wrap justify-content-center">
        {% csrf_token %}
        <div class="accordion">
            {% for day in days %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ day.id }}"
                                    aria-expanded="true"
                                    aria-controls="collapseOne">
                                {{ day.date|date:"l" }} - {{ day.date }}
                            </button>
                        </h5>
                    </div>
                    <div class="card-body collapse" id="collapse-{{ day.id }}">
                        {% if day.message == None or day.message == "" %}
                            <a class="card-link add-message" href="#"
                               onclick="$('#message-modal-{{ day.id }}').modal('show');">{% trans "Set Message" %}</a>
                        {% else %}
                            <a class="card-link add-message" href="#"
                               onclick="$('#message-modal-{{ day.id }}').modal('show');">Message: {{ day.message }}</a>
                        {% endif %}
                        {#                Message modal#}
                        <div class="modal" id="message-modal-{{ day.id }}" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{% trans "Set Message" %}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3 ml-2">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text"
                                                       for="inputGroupManualCount">{% trans "Message" %}</label>
                                            </div>
                                            <input class="form-control" type="text" id="in{{ day.id }}"
                                                   {% if day.message != None %}value="{{ day.message }}"
                                                   {% else %}placeholder="{% trans 'Message' %}"{% endif %}
                                                   maxlength="100">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary" data-d-id="{{ day.id }}"
                                                onclick="set_message(this);"
                                                data-url="{% url 'meal-count:add_message' %}">
                                            Set Message
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% for meal in day.meal_set.all|sort_by:'meal_type__meal_time' %}

                            {#                        Manual count modal#}
                            <div class="modal" id="manual-count-modal-{{ meal.id }}" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{% trans "Set Manual Count" %}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="input-group mb-3 ml-2">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"
                                                           for="inputGroupManualCount">{% trans "# Present" %}</label>
                                                </div>
                                                <input class="form-control" type="number" id="mi{{ meal.id }}"
                                                       value="{{ meal.manual_count }}" maxlength="2">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-primary"
                                                    onclick="set_override($('#{{ meal.id }}').get(0), true);">Set Count
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            {#            Card for each meal#}
                            <div class="card mx-2 my-3">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ meal.meal_type.name }}
                                    </h5>
                                    <div class="d-flex flex-wrap flex-row">
                                        <div>
                                            <div class="input-group mb-3 ml-2">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text"
                                                           for="inputGroupSelect01">{% trans "Override" %}</label>
                                                </div>
                                                <select class="custom-select override-sel" id="{{ meal.id }}"
                                                        onchange="set_override(this, false);"
                                                        data-url="{% url 'meal-count:set_override' %}">
                                                    {% for override in overrides %}
                                                        <option {% if override == meal.override %}selected{% endif %}>{% trans override %}</option>
                                                    {% endfor %}
                                                </select>
                                                {% if meal.override == "Manual Count" %}
                                                    {#                        Show count if its a manual count override#}
                                                    <div class="input-group-append">
                                                        <label class="input-group-text">{{ meal.manual_count }}</label>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap flex-row">
                                        {% for person in people %}
                                            {% with status=meal.status_set|by_person:person %}
                                                {% if status != None %}
                                                    <div class="border border-1 rounded mt-2 ml-2 content-align-center"
                                                         style="width:10rem;">
                                                        <div class="p-1">
                                                            <label class="w-25">
                                                                {{ person.initials }}
                                                            </label>
                                                            <button type="button"
                                                                    class="w-50 btn btn-primary ml-2 status-box {% if meal.disabled %}disabled{% endif %} {% if status.edited_at is None %}text-warning{% endif %}"
                                                                    data-url="{% url 'meal-count:update_status' %}"
                                                                    data-s-class="{{ day.id }}-success">
                                                <span class="status-text"
                                                      id="{{ status.id }}">{% trans status.status.abbreviation %}</span>
                                                            </button>
                                                        </div>

                                                    </div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {#        {% for day in days %}#}
        {#            <div class="card mx-2 my-3">#}
        {#                <div class="card-body">#}
        {#                    <h5 class="card-title">#}
        {#                        {% if week_delta == "default" %}#}
        {#                            <span class="ct_cell ct-title-cell">#}
        {#                                <b>{% trans 'Default' %}</b><br>{{ day.date|date:"l" }}<br></span>#}
        {#                        {% else %}#}
        {#                            <span class="ct_cell ct-title-cell"><b>#}
        {#                                {% ifequal day.date today %}{% trans "Today" %}{% else %}#}
        {#                                    {{ day.date|date:"l" }}{% endifequal %}</b><br>{{ day.date }}<br></span>#}
        {#                        {% endif %}#}
        {#                    </h5>#}
        {#                <div class="list-group list-group-flush">#}
        {#                    {% for meal in day.meal_set.all|sort_by:'meal_type__meal_time' %}#}
        {#                        <div class="list-group-item d-inline-flex">#}
        {#                            <h6 class="w-50">{% trans meal.meal_type.name context "meal" %}</h6>#}
        {#                            {% with status=meal.status_set|by_person:person %}#}
        {#                                <button type="button" class="btn btn-primary w-50 ml-2 status-box {% if meal.disabled %}disabled{% endif %} {% if status.edited_at is None %}text-warning{% endif %}" data-url="{% url 'meal-count:update_status' %}" data-s-class="{{ day.id }}-success">#}
        {#                                    <span class="status-text" id="{{ status.id }}" >{% trans status.status.abbreviation %}</span>#}
        {#                                </button>#}
        {#                            {% endwith %}#}
        {#                        </div>#}
        {#                    {% endfor %}#}
        {#                </div>#}
        {#                </div>#}
        {#                <div class="card-footer text-muted">#}
        {#                    {% if day.message is not None %}{% trans day.message %}{% endif %}#}
        {#                </div>#}
        {#            </div>#}
        {#        {% endfor %}#}
    </div>
    {#Toolbar for quick select#}
    <div class="btn-toolbar d-flex flex-column position-fixed toolbar-bottom-right mr-2 mb-2" role="toolbar"
         aria-label="Toolbar with button groups">
        <div class="btn-group-vertical mr-2 tools-selector-group d-none" role="group" aria-label="Selector group">
            {% for option in all_options %}
                <button type="button" class="btn btn-secondary btn-lg tools-option">{% trans option %}</button>
            {% endfor %}
            <button type="button" class="btn btn-secondary btn-lg tools-option active">-</button>
        </div>
        <div class="btn-group-vertical mr-2 mt-1" role="group" aria-label="Indicator group">
            <button type="button" class="btn btn-secondary btn-lg tools-indicator" data-toggle="tooltip"
                    data-placement="left" title="Apply selected option with one click">-
            </button>
        </div>
    </div>

{% endblock %}
