{% extends "meal_count/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}
{#HTML Template for the Director management page#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/styles/verifystyles.css' %}">
{% endblock %}

{% block scripts %}
        <script src="{% static 'meal_count/scripts/verify_scripts.js' %}" type="application/javascript"></script>
{% endblock %}

{% block submenu %}
    <div style="background-color: #AA7439; text-align: center; margin-top:-10px;">
        {% trans "Beta Feature - not tested fully" %}
    </div>
    <div class="submenu-title">
        {{ today }}
    </div>
    <div class="submenu-links">
        {% for meal in meals %}
            {% if meal.meal_type.name == current_meal %}
                <span>{% trans meal.meal_type.name %}</span>
            {% else %}
{#                FIXME: translate meal name#}
                <a class="clickable" href="{% url 'meal-count:verify_attendance' meal.meal_type.name %}">{% trans meal.meal_type.name %}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
<div class="page-container">
    {% csrf_token %}
    {% for option in options %}
        {% with statii|by_status:option as filtered_statii %}{# get list of all statii for that option #}
            {% with filtered_statii|by_meal:current_meal as filtered_statii2%}{# get list of all statii for that meal from the filtered option #}
            {% if filtered_statii2|length == 0 %}
{#                If there are no statii for that option, don't show it#}
            {% else %}
    {#        Always show Present option first#}
            <table class="verify-table" style="{% if option.name == 'Present' %}order:-1;{% endif %}">
                {% csrf_token %}
                <tr class="verify-t-row" id="option-title">
                    <th colspan="2">{% trans option.name %}</th>
                </tr>
            {% for status in filtered_statii2 %}
    {#            filter out all statii for that option#}
                {% if status.meal.meal_type.name == current_meal %}
    {#                Filter out all other statii from other meals#}
                    <tr>
                        <td class="name-cell">{{ status.person.name }}</td>
                        <td class="status-cell clickable" id="{{ status.id }}" {% if status.actual_status != status.status %}style="background-color: #9f0700; color:white;"{% endif %}>{% trans status.actual_status.abbreviation %}</td>
                        {# url to be picked up in js code #}
                        <span id="update-post-url" style="display: none;">{% url "meal_count:set_act_status" %}</span>
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
            {% endif %}
            {% endwith %}
        {% endwith %}
    {%  endfor %}
</div>

{% endblock %}
