{% extends "meal_count/base.html" %}
{% load i18n %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/createstyles.css' %}">
{% endblock %}

{% block submenu %}
<span>{% trans "Create TMCA account for meals at" %} {{ center_name }}</span>
{% endblock %}

{% block content %}
<div class="container mx-auto my-5 justify-content-center">

    <div class="card">
        <div class="card-header">
            {% trans "Create account for" %} {{ center_name }}
        </div>
        {%  if error_msg %}
        <div class="alert alert-danger">{{ error_msg }}</div>
        {% endif %}
        <form method="post" action="{% url 'meal-count:create_user' center_name %}" class="card-body">
            {% csrf_token %}
                <div class="form-group">
                    <label class="">{% trans "Full Name" %}</label>
                    {{ person_form.name }}
                </div>
                <div class="form-group">
                    <label class="">{% trans "Username" %}</label>
                    {{ user_form.username }}
                </div>
                <div class="form-group">
                    <label class="">{% trans "Email" %}</label>
                    {{ user_form.email }}
                </div>
                <div class="form-group">
                    <label class="">{% trans "Initials (no periods)" %}</label>
                    {{ person_form.initials }}
                </div>
                <div class="form-group">
                    <label class="">{% trans "Diet" %}</label>
                    {{ person_form.diet }}
                </div>
                <div class="form-group">
                    <label class="">{% trans "Password" %}</label>
                    {{ user_form.password1 }}
                </div>
                <div class="form-group">
                    <label class="">{% trans "Confirm Password" %}</label>
                    {{ user_form.password2 }}
                </div>
            <button type="submit" class="btn btn-primary">{% trans 'Create' %}</button>
{#        <input type="hidden" name="next" value="{{ next }}">#}
    </form>
        </div>
</div>
{% endblock %}