{% extends "meal_count/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#login-modal').modal('show');
            //Add class to all inputs within .form-wrapper
            {#for built in django forms#}
            $('.form-wrapper > input').each(function () {
                $(this).addClass('form-control');
            });

        });
    </script>
{% endblock %}

{% block content %}
{#Modal for login view#}
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle"
         aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">{% trans "Please Login" %}</h5>
                </div>
                <form method="post" action="{% url 'meal-count:auth:auth_login' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div>
                            {% if form.errors %}
                                <p class="alert alert-danger">{% trans "Your username and password didn't match. Please try again." %}</p>
                            {% endif %}

                            {% if next %}
                                {% if user.is_authenticated %}
                                    <p class="alert alert-warning">{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>
                                {% else %}
                                {% endif %}
                            {% endif %}
                        </div>

                        <div class="input-group mt-2">
                            <div class="input-group-prepend" id="ig-1">
                                <span class="input-group-text">{% trans "Username" %}</span>
                            </div>
{#                            <span class="form-wrapper">#}
                                <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="30" name="{{ form.username.html_name }}" type="text" placeholder="username" />
{#                            </span>#}
                        </div>

                        <div class="input-group mt-2">
                            <div class="input-group-prepend" id="ig-2">
                                <span class="input-group-text">{% trans "Password" %}</span>
                            </div>
                            <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="30" name="{{ form.password.html_name }}" type="password" placeholder="password" />
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">

                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'meal-count:auth:password_reset' %}" class="btn btn-secondary">{% trans 'Lost password?' %}</a>
                        <button type="submit" class="btn btn-primary">{% trans 'Login' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}