{% extends 'meal_count/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div style="padding:30px;">
  <p>
    {% trans "Instructions to reset your password have been emailed. You should receive them shortly." %}
  </p>
  <p>
    {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
  </p>
    </div>
{% endblock %}