{% extends 'meal_count/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div style="padding:30px;">

  <p>
    {% trans "Your password has been set. You may go ahead and" %} <a href="{% url 'meal-count:auth:auth_login' %}">{% trans "sign in" %}</a> {% trans "now." %}
  </p>
    </div>
{% endblock %}