{% extends 'meal_count/base.html' %}
{% load i18n %}
{% load staticfiles %}
{#This form was copied from the login page form, so class names may not make sense#}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/loginstyle.css' %}">
{% endblock %}

{% block content %}
    <div class="content">

  {% if validlink %}
      <div class="login-box">
            <div class="title-div">{% trans "Reset your Password" %}</div>
    <form method="post">
      {% csrf_token %}
        <table>
            <tr>
                <td class="label">{% trans "New Password" %}</td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td class="label">{% trans "Reenter password" %}</td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="{% trans 'Set Password' %}" id="submit_button">
                </td>
            </tr>
        </table>
    </form>
  {% else %}
    <p>
      {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
    </p>
  {% endif %}
</div>
    </div>

{% endblock %}
