{% extends "meal_count/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/loginstyle.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="login-box">
            <div class="title-div">{% trans "Reset your Password" %}</div>
            {% if form.errors %}
                <p class="error">{% trans "Error, Sorry:(" %}</p>
            {% endif %}


            <form method="post">
                {% csrf_token %}
                <table>
                    <tr>
                    <td>{{ form.as_p }}</td>
                </tr>
{#                    <tr>#}
{#                        <td class="label">{{ form.password.label_tag }}</td>#}
{#                    <td>{{ form.password }}</td>#}
{#                </tr>#}
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="{% trans 'Submit' %}" id="submit_button">
                        </td>
                    </tr>
                </table>

            </form>

        </div>
    </div>
{% endblock %}