ul{
    padding:0px;
}

.half-panel{
    width: 45%;
    float: left;
    min-width: 300px;
}

#list-area{
    overflow-y: scroll;
    height: 400px;
    padding: 10px;
    border: 2px solid #804D15;
    margin-left: 40px;
}

.list-item{
    /*background-color: #6D92A0;*/
    padding-left: 5px;
    padding-top: 16px;
    height: 40px;
    border: 1px solid #804D15;
}

.list-item:hover{
    background-color: #6D92A0;
    cursor: pointer;
}

#main-list{
    list-style-type: none;

}

.current{
    background-color: #6D92A0;
}

/*Details side of things*/

#details-panel{
    text-align: center;
}

.details-title{
}

#actions-bar{
    width: 300px;
    margin: auto;
}

.header{
    font-size: 16px;
    color: #802815;
}
