
/*.table-container{*/
/*Enabling this will break the sticky header*/
/*    !*display: inline-block;*!*/
/*    !*height: 150px;*!*/
/*    overflow: auto*/

/*}*/

.results-table{
    /*display: flex;*/
    border: 1px solid;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    justify-content: left;
    border: 1px solid #022735;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.sticky-header th{
    position: sticky;
    position: -webkit-sticky;
    top:0px;
    background-color: white;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.results-row td{
    word-wrap: break-spaces;
    max-width: 140px;
    vertical-align: text-top;
}

/*.results-row:nth-child(2n+1){*/
/*    !*Shade alternating rows*!*/
/*    background-color: rgba(109, 146, 160, 0.62);*/
/*}*/

.results-table th{
    border: 1px solid #022735;
    padding: 5px;
}

.results-table td{
    border: 1px solid #022735;
    padding: 5px;
    text-align: center;
}

.meal-title-cell{
    border-right: none;
}

/*@media screen and (max-width: 600px) {*/
/*  .table-container{*/
/*      flex-direction: column;*/
/*      align-content: center;*/
/*      margin-right:20px;*/
/*  }*/
/*    .results-table{*/
/*        align-content: center;*/
/*    }*/
/*}*/
