
.page-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
}

.verify-table{
    display: flex;
    border-spacing: 0px;
    margin-right: 20px;
    margin-top: 30px;
    border-collapse: collapse;
}

.verify-table td{
    border: 1px solid black;
    padding: 10px 5px;
}

.verify-table th{
    border: 1px solid black;
    padding: 10px 5px;
    font-size: 18px;
}

.name-cell{

}

.status-cell{
    min-width: 40px;
    height: 30px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
}