{% extends "meal_count/base.html" %}
{% load staticfiles %}
{% load custom_tags %}
{% load i18n %}
{#HTML Template for the Director management page#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/gueststyles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/style.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'meal_count/guest_scripts.js' %}"></script>
{% endblock %}

{% block submenu %}

{% endblock %}

{#Block for nav id to set id to active#}
{% block current-nav-id %}"#guest-nav-item"{% endblock %}

{% block content %}
    <div class="modal" id="confirm-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Confirm Deletion" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{% trans "Are you sure you want to delete this guest?" %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="delete-confirm" data-delete-id=""
                            data-url="{% url 'meal-count:delete_guest' %}"
                            data-url2="{% url 'meal-count:guests' %}">{% trans "Delete" %}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="delete-cancel">{% trans "Cancel" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5 d-flex flex-row flex-wrap justify-content-center">
        <div class="accordion w-75" id="guest-accordion">
            {#        Card for new guest#}
            <div class="card">
                <form action="{% url 'meal-count:guests' %}" method="post" id="add-guest-form">
                    {% csrf_token %}
                    <div class="card-header d-flex justify-content-between align-items-center" id="head-{{ guest.id }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#coll-{{ guest.id }}" aria-expanded="true" aria-controls="collapseOne">
                                {% trans "Add Guest" %}
                            </button>
                        </h2>
                    </div>
                    <div id="coll-{{ guest.id }}" class="card-body collapse show" data-parent="#guest-accordion">
                        <div class="list-group list-group-horizontal flex-wrap">
                            <div class="list-group-item flex-fill border">
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item">
                                        <div class="font-weight-bold">{% trans "Name" %}</div>
                                        <div class="">
                                            <div class="">{{ guest_form.name }}</div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="font-weight-bold">{{ guest_form.initials }}</div>
                                        <div class="">{{ guest.initials }}</div>
                                    </div>
                                </div>

                            </div>
                            <div class="list-group-item flex-fill border">
                                <div class="font-weight-bold">{% trans "Diet" %}</div>
                                <div class="">{{ guest_form.diet }}</div>
                            </div>
                            <div class="list-group-item flex-fill border">
                                <div class="font-weight-bold">{% trans "Meals" %}</div>
                                <span class="text-center mx-auto">{{ guest_form.meals }}</span><br>
                            </div>
                        </div>
                        <div class="mt-2">
                            <input class="btn btn-primary" type="submit" value="{% trans 'Add Guest' %}"
                                   class="submit-input">
                        </div>
                    </div>
                </form>
            </div>

            {#        Cards for existing guests#}
            {% for guest in guests %}
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center" id="head-{{ guest.id }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#coll-{{ guest.id }}" aria-expanded="true"
                                    aria-controls="collapse-{{ guest.id }}" data-parent="#guest-accordion">
                                {{ guest.name }}
                            </button>
                        </h2>
                        <h5><span class="badge badge-primary">Meals: {{ guest.meals.count }}</span></h5>
                    </div>
                    <div id="coll-{{ guest.id }}" class="card-body collapse">
                        <div class="list-group list-group-horizontal flex-wrap">
                            <div class="list-group-item flex-fill border">
                                <div class="font-weight-bold">{% trans "Initials" %}</div>
                                <div class="">{{ guest.initials }}</div>
                            </div>
                            <div class="list-group-item flex-fill border">
                                <div class="font-weight-bold">{% trans "Diet" %}</div>
                                <div class="">{{ guest.diet.name }}</div>
                            </div>
                            <div class="list-group-item flex-fill border">
                                <div class="font-weight-bold">{% trans "Meals" %}</div>
                                {% for meal in guest.meals.all %}
                                    <span class="text-center mx-auto">{{ meal }}</span><br>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="mt-2">
                            <a class="btn btn-primary delete-link" id="{{ guest.id }}" href="#">{% trans "Delete" %}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
