{% load static %}
{% load custom_tags %}
{% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}TMCA - The Meal Count App{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'meal_count/images/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'meal_count/images/apple-touch-icon.png' %}">
    <link rel="icon" sizes="192x192" href="{% static 'meal_count/images/apple-touch-icon.png' %}">
    <meta charset="UTF-8">
    <meta name="description" content="Schuyler meal count">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{# TODO: make font-awesome available offline#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% block styles %}{% endblock %}
{#FIXME figure out way to put specific style scripts in specific templates not base#}
{#    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" type="text/javascript"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript"></script>
{#    #}
{#    Work around if offline: use pycharm copy of jquery#}

{#    <script src="/static/meal_count/jquery.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.1.3/jquery.floatThead.js"></script>#}

    {% block scripts %}{% endblock %}
    <script src="{% static 'meal_count/main_scripts.js' %}"></script>

</head>

{#NOTE: Page must be refreshed for active links to change#}

<body>
    <header>
{#        Responsive navigational bar taken from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp#}
        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
{#        use this to highlight links if active {% ifequal request.path "/"%}class="active"{% endifequal %}#}
        {% if user.is_authenticated %}
            <a class="navbar-brand text-primary" href="/" >{% trans "Meal Count" %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id='home-nav-item' href="{% url 'meal-count:index' %}"
                   title="Add/modify guests (people without accounts)">{% trans "Home" %}</a>

                <a class="nav-item nav-link" id='guest-nav-item' href="{% url 'meal-count:guests' %}" title="Add/modify guests (people without accounts)">{% trans "Guests" %}</a>
    {#            TODO: change permissions#}
                {%  if user.is_authenticated %}
                    <a class="nav-item nav-link" id='report-nav-item' href="{% url 'meal-count:current_count'  user.person.center.name %}" >{% trans "Report" %}</a>
{#                    <a class="nav-item nav-link" id='ireport-nav-item' href="{% url 'meal-count:initials_report' user.person.center.name %}" >{% trans "Initials Report" %}</a>#}
                    <a class="nav-item nav-link" id='verify-nav-item' href="{% url 'meal-count:verify_attendance' %}" >{% trans "Verify" %}</a>
                {% endif %}
                {%  if user.is_superuser %}
                    <a class="nav-item nav-link" id='meals-nav-item' href="{% url 'meal-count:manage_meals' %}" >{% trans "Meals" %}</a>
    {#                <a href="/manage">Manage</a>#}
                    <a class="nav-item nav-link" href="/admin">{% trans 'Django Admin' %}</a>
                {% endif %}
            </div>
            <div class="navbar-nav ml-auto">
    {#        TODO: change username to full name#}
                <a class="nav-item nav-link " href="{% url 'meal-count:auth:auth_logout' %}" id="account" >{% trans 'Logout,' %} {% if user.is_authenticated %}{{ user.username }}{% endif %}</a>
            </div>
    {#            <span>{% now "SHORT_DATETIME_FORMAT" %}</span>#}

            </div>
            {% else %}
                <a class="navbar-brand" href="/" >{% trans "Meal Count" %}</a>
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link " href="{% url 'meal-count:auth:auth_login' %}" id="account" >{% trans 'Login' %}</a>
                </div>
            {% endif %}
        </nav>
{#    Block where script is located to activate#}
    <script>
        //add the active class to the home nav-item to highlight it
        $({% block current-nav-id %}{% endblock %}).addClass('active');
    </script>


        <script>
{#            Javascript for responsive menu#}
            function responsiveView() {
                var x = document.getElementById("top-navbar");
                if (x.className === "nav-bar") {
                    x.className += " responsive";
                } else {
                    x.className = "nav-bar";
                }
            }
        </script>

{#        <div class="submenu">#}
{#            {% block submenu %}{% endblock %}#}
{#        </div>#}
    </header>


{% block content %}{% endblock %}

</body>
</html>