{% extends "meal_count/base.html" %}
{% load staticfiles %}

{#HTML Template for the Director management page#}

{% block styles %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/managestyle.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/styles/managestyle.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'meal_count/manage_scripts.js' %}"></script>
    <script src="{% static 'meal_count/scripts/managescripts.js' %}"></script>
{% endblock %}

{% block submenu %}
    <div style="background-color: #AA7439; text-align: center; margin-top:-10px;">
        Under Construction
    </div>
    <a class="clickable" href="/manage#status-panel">Status Options</a>
    <a class="clickable" href="/manage#diet-panel">Diets</a>
    <a class="clickable" href="/manage#meal-panel">Meals</a>
    <span>Users</span>
{% endblock %}

{% block content %}
{#    Panel with a list of items#}
    <div class="half-panel" id="list-panel">
        <div id="actions-bar">
            <span class="header">Actions</span>
            <br>
            <div class="ab-filter-div">
                <a class="clickable">Active Users</a>
                <a class="clickable">Deactivated Users</a>
                <a class="clickable">Deactivated Users</a>
            </div>
        </div>
        <div id="list-area">
            <ul id="main-list">
                {% for item in main_list %}
{#                    when a user clicks on this list item, the page sends a get request with the person's username#}
{#                    This is pagetype specific.#}
{#                    Add color to current user#}
                    {% if pagetype == 'users' %}
                        <li class="list-item {% if item.user.username == current_item.username %}current{% endif %}" onclick="window.location='/manage/users/{{ item.user.username }}'">{{ item.name }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    {#    Panel with a list of details and settings#}
    <div class="half-panel" id="details-panel">
    {% if pagetype == 'users' and current_item != None%}{% with user=current_item %}
        <h1 class="details-title">
            {{ user.person.name }}
        </h1>
        <div class="details-detail">
            <form action="/manage/change_person_status" method="post" id="user_status">
                {% csrf_token %}
                <input type="hidden" name="person-id" value="{{ user.person.id }}">
                <input type="checkbox" id="user-status-input" {% if user.person.active %}checked{% endif %}>
                <label>Active User</label>
            </form>
        </div>
    {% endwith %}{% endif %}
    </div>

{% endblock %}
