{% extends "meal_count/base.html" %}
{% load staticfiles %}

{#HTML Template for the Director management page#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/managestyle.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'meal_count/manage_scripts.js' %}"></script>
{% endblock %}

{% block submenu %}
    <div style="background-color: #AA7439; text-align: center; margin-top:-10px;">
        Under Construction
    </div>
    <a class="clickable" href="#status-panel">Status Options</a>
    <a class="clickable" href="#diet-panel">Diets</a>
    <a class="clickable" href="#meal-panel">Meals</a>
    <a class="clickable" href="/manage/users">Users</a>
{% endblock %}

{% block content %}
    <div class="panel" id="status-panel">
        <div class="panel-title">Status Options</div>
        {% for option in center.statusoption_set.all %}
        <div class="widget">
            <div class="widget-title ">{{ option.name }}</div>
            <table class="settings-table">
                {% csrf_token %}
                <tr>
                    <td class="widget-label">Code:</td>
                    <td class="widget-data">{{ option.abbreviation }}</td>
                </tr>
                <tr>
                    <td class="widget-label">Enabled</td>
                    <td class="widget-data"><input class="status-active-cb" id="{{ option.id }}" type="checkbox" {% if option.active %}checked{% endif %}></td>
                </tr>
{#                <tr>#}
{#                    <td class="widget-label">Prep Time</td>#}
{#                    <td class="widget-data">{{ option.prep_time }} hr{{ option.prep_time|pluralize }}</td>#}
{#                </tr>#}
                {% if option.can_edit %}
                    <tr class="widget-submit">
{#                        <td><a class="clickable">Edit</a></td>#}
                        <td colspan="2"><a class="clickable del-opt" id="{{ option.id }}">Delete</a></td>
                    </tr>
                {% endif %}
            </table>
        </div>
        {% endfor %}

        <div class="widget" id="new-widget">
            <div class="widget-title">New Status Option</div>
            <table>
                <form action="/manage/add_opt" method="post" id="add-opt-form">
                    <tr>
                        <td class="widget-label">Name:</td>
                        <td class="widget-data"><input type="text" name="opt_name" maxlength="10" style="width:120px;"></td>
                    </tr>
                    <tr>
                        <td class="widget-label">Code:</td>
                        <td class="widget-data"><input type="text" name="opt_code" maxlength="2" style="width:60px;"></td>
                    </tr>
{#                    <tr>#}
{#                        <td class="widget-label">Prep Time:</td>#}
{#                        <td class="widget-data"><input type="text" name="opt_preptime" maxlength="2" style="width:60px;"> hrs</td>#}
{#                    </tr>#}
                    <tr>
                        <td colspan="2" class="widget-submit clickable" id="submit-add-form"><a>Add</a></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>

    <div class="panel" id="meal-panel">
        <div class="panel-title">Meals</div>
        {% for meal in center.mealoption_set.all %}
        <div class="widget">
            <div class="widget-title ">{{ meal.name }}</div>
            <table class="settings-table">
                {% csrf_token %}
                <tr>
                    <td class="widget-label">Code</td>
                    <td class="widget-data">{{ meal.code }}</td>
                </tr>
                <tr>
                    <td class="widget-label">Time</td>
                    <td class="widget-data">{{ meal.meal_time}}</td>
                </tr>
                {% if meal.can_edit %}
                    <tr class="widget-submit">
                        <td><a class="clickable">Edit</a></td>
                        <td><a class="clickable del-meal" id="{{ meal.id }}">Delete</a></td>
                    </tr>
                {% endif %}
            </table>
        </div>
        {% endfor %}

        <div class="widget" id="new-widget">
            <div class="widget-title">New Diet</div>
            <table>
                <form action="/manage/add_meal" method="post" id="add-meal-form">
                    <tr>
                        <td class="widget-label">Name:</td>
                        <td class="widget-data"><input type="text" name="meal_name" maxlength="16" style="width:150px;"></td>
                    </tr>
                    <tr>
                        <td class="widget-label">Code:</td>
                        <td class="widget-data"><input type="text" name="meal_code" maxlength="6" style="width:60px;"></td>
                    </tr>
                    <tr>
                        <td class="widget-label">Time:</td>
                        <td class="widget-data"><input type="time" name="meal_time" maxlength="6" style="width:100px;"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="widget-submit clickable" id="submit-meal-form"><a>Add</a></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>

    <div class="panel" id="diet-panel">
        <div class="panel-title">Diets</div>
        {% for diet in center.diet_set.all %}
        <div class="widget">
            <div class="widget-title ">{{ diet.name }}</div>
            <table class="settings-table">
                {% csrf_token %}
                <tr>
                    <td class="widget-label">Code</td>
                    <td class="widget-data">{{ diet.code }}</td>
                </tr>
                <tr>
                    <td class="widget-label">Description</td>
                    <td class="widget-data">{{ diet.description }}</td>
                </tr>
                {% if diet.can_edit %}
                    <tr class="widget-submit">
                        <td><a class="clickable ed-diet" id="{{ diet.id }}">Edit</a></td>
                        <td><a class="clickable del-diet" id="{{ diet.id }}">Delete</a></td>
                    </tr>
                {% endif %}
            </table>
        </div>
        {% endfor %}

        <div class="widget" id="new-widget">
            <div class="widget-title">New Diet</div>
            <table>
                <form action="/manage/add_diet" method="post" id="add-diet-form">
                    <tr>
                        <td class="widget-label">Name:</td>
                        <td class="widget-data"><input type="text" name="diet_name" maxlength="10" style="width:120px;"></td>
                    </tr>
                    <tr>
                        <td class="widget-label">Code:</td>
                        <td class="widget-data"><input type="text" name="diet_code" maxlength="2" style="width:60px;"></td>
                    </tr>
                    <tr>
                        <td class="widget-label">Description</td>
                        <td class="widget-data"><input type="text" name="diet_description" maxlength="30" style="width:150px;"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="widget-submit clickable" id="submit-add-diet-form"><a>Add</a></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
{% endblock %}
