{% extends "meal_count/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}
{#HTML Template for the Director management page#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/style.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block submenu %}
    <span class="error">{% trans "403 Error: Not Authorized"%}</span>
{% endblock %}

{% block content %}
    <div class="content" style="display: flex; justify-content: center; flex-wrap: wrap; flex-direction: column; align-content: center;">
        <div class="error-msg" style="display: flex; text-align: center; padding-top:40px;">
            {% trans "You shall not pass! Please" %} <a href="/accounts/login" class="clickable">{% trans "log in" %}</a>{% trans "with an Admin account."%}
        </div>
        <div class="error-img" style="display: flex; padding-top: 20px; justify-content: center;">
            <img src="{% static "meal_count/images/gandalf.jpg" %}">
        </div>
    </div>
{% endblock %}
