{% extends "meal_count/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}
{#HTML Template for the Director management page#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/style.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block submenu %}
    <span class="error">{% trans "404 Error: Not Found" %}</span>
{% endblock %}

{% block content %}
    <div class="content" style="display: flex; justify-content: center; flex-wrap: wrap; flex-direction: column; align-content: center;">
        <div class="error-msg" style="display: flex; text-align: center; padding-top:40px;">
            {% blocktrans %}Oops, the server tried looking for the page you wanted, but found a banana instead.<br>
            Please make sure that the URL you entered is valid.{% endblocktrans %}
        </div>
        <div class="error-img" style="display: flex; padding-top: 20px; justify-content: center;">
            <img src="{% static "meal_count/images/banana.jpg" %}">
        </div>
    </div>
{% endblock %}
