{% extends "meal_count/base.html" %}
{% load staticfiles %}
{% load custom_tags %}
{#HTML template that shows the report for the upcoming meals#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/reportstyles.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block submenu %}
{% endblock %}


{% block content %}

    <div>
    <table>
        <tr>
        <th>Meal</th>
            {% for diet in possible_diets %}
                <th>
                    {{ diet.name }}
                </th>
            {% endfor %}
        </tr>
{#        results_list = [(meal,{status:{diet:count}})]#}
        {% for result in results_list %}
            <tr>
            <th>
            {{ result.0.meal_type.name }} on {{ result.0.day }}
            </th>
{#            {% for status, diets in result.1.items %}#}
{#                {% for diet,count in diets.items %}#}
{#                    <th>#}
{#                        {{ diet }}#}
{#                    </th>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
            </tr>
            {% for status, diets in result.1.items %}
                <tr>
                    <td>{{ status}}</td>

                {% for diet,count in diets.items %}

                        <td>{{ count }}</td>

                {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    </div>
{#    <div class="table-container">#}
{#        {% for result in results_list %}#}
{#            result = (meal,{(option_name,diet):count})#}
{#            indicate in the report if the meal is finalized#}
{#            <table class="results-table {% if result.0.disabled %}finalized{% endif %}">#}
{#                <tr>#}
{#                    <th colspan="2"><span>{{ result.0.meal_type.name }}<br>{{ result.0.day.date }}</span></th>#}
{#                </tr>#}
{#                {% for status, count in result.1.items %}#}
{#                    <tr>#}
{#                    <td><span>{{ status }}</span></td>#}
{#                    <td><span>{{ count }}</span></td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </table>#}
{#        {% endfor %}#}
{#    </div>#}
{% endblock %}