{% extends "meal_count/base.html" %}
{% load staticfiles %}
{% load custom_tags %}
{#HTML template that shows the report for the upcoming meals and their initials#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/reportstyles.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block submenu %}
    {% if report_type != 'week' %}
            <span>2-day View</span>
            <a class="{% if report_type == 'week' %}clickable{% else %}{% endif %}" href="/{{ center }}/initials/week">Weekly View</a>
        {% else %}
            <a class="clickable" href="/{{ center }}/initials">2-day View</a>
            <span>Weekly View</span>
        {% endif %}
{% endblock %}


{% block content %}
    <div class="page-container">
        <div class="table-container">
            {% for result in results_list %}
                {#            result = (meal,{option_name:{diet:count})#}
                {#            indicate in the report if the meal is finalized#}
                <table class="results-table {% if result.0.disabled %}finalized{% endif %}">
                    <tr>
                        {#                    Add one to the number of diets to include status name column #}
                        <th colspan="{{ num_diets|add:1 }}">
                            <span>{{ result.0.meal_type.name }}<br>{{ result.0.day.date }}</span>
                        </th>
                    </tr>
                    {% for status, counts in result.1.items %}
{#                        loop through each status#}
                        {% if forloop.counter == 1 %}
                            {#                        Only display the diet names the first loop. This presents the information more clearly#}
                            <tr>
                                <td><span></span></td>
                                {% for diet, count in counts.items %}
{#                                    loop through each count for each diet for each status#}
                                    <td><span class="diet-name">{{ diet }}</span></td>
                                {% endfor %}
                            </tr>
                            <tr>
                        {% endif %}
                    <td><span>{{ status }}</span></td>
                    {% for diet, initials in counts.items %}
{#                        Go through all the initials for each diet. if it isn't the last (or only item) in the list add a comma and space#}
                        <td style="text-align: center;"><span>{% for initial in initials %}{{ initial }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></td>
                    {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}