{% extends "meal_count/base.html" %}
{% load staticfiles %}
{% load custom_tags %}
{#HTML template that shows the report for the upcoming meals#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/reportstyles.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block submenu %}
{% endblock %}


{% block content %}
    <div class="page-container">
        <div class="table-container">
            {% for result in results_list %}
                {#            result = (meal,{option_name:{diet:count})#}
                {#            indicate in the report if the meal is finalized#}
                <table class="results-table {% if result.0.disabled %}finalized{% endif %}">
                    <tr>
                        {#                    Add one to the number of diets to include status name column #}
                        <th colspan="{{ num_diets|add:1 }}">
                            <span>{{ result.0.meal_type.name }}<br>{{ result.0.day.date }}</span>
                        </th>
                    </tr>
                    {% for status, counts in result.1.items %}
                        {#                        loop through each status#}
                        {% if forloop.counter == 1 %}
                            {#                        Only display the diet names the first loop. This presents the information more clearly#}
                            <tr>
                                <td><span></span></td>
                                {% for diet, count in counts.items %}
                                    {#                                    loop through each count for each diet for each status#}
                                    <td><span class="diet-name">{{ diet }}</span></td>
                                {% endfor %}
                            </tr>

                        {% endif %}
                        <tr>
                            <td><span>{{ status }}</span></td>
                            {% for diet, count in counts.items %}
                                <td style="text-align: center;"><span>{{ count }}</span></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}