{% extends "meal_count/base.html" %}
{% load staticfiles %}
{% load custom_tags %}
{#HTML template that shows the report for the upcoming meals#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/reportstyles.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block submenu %}
    <div class="submenu-links">
{#                <a class="clickable" href="/all/default">All defaults</a>#}
        {% if report_type != 'week' %}
            <span>2-day View</span>
            <a class="{% if report_type == 'week' %}clickable{% else %}{% endif %}" href="/{{ center }}/{% if is_initials == 'True' %}initials{% else %}report{% endif %}/week">Weekly View</a>
        {% else %}
            <a class="clickable" href="/{{ center }}/{% if is_initials == 'True' %}initials{% else %}report{% endif %}">2-day View</a>
            <span>Weekly View</span>
        {% endif %}

    </div>
{% endblock %}


{% block content %}
    <script  type="text/javascript">
{#    All data#}
{# meal_option in form of [({meal object dict},option)]#}
{# counts in form of [[(diet,count)]]#}
    var meal_option = {{ meal_option|safe }};
    var counts = {{ counts | safe}};
    var is_initials = {{ is_initials | safe }};
    </script>
    <div class="page-container" id="printable-area">
{#        <div class="table-container">#}
        <table class="results-table" cellspacing="0">{# to be filled in by js script below #}
            <tr class="title-row" id="title-row">
                <th>{# empty cell for meal name column #}</th>
                <th>{# empty cell for meal name column #}</th>
            </tr>
            <script type="text/javascript">
                {# Loop through all the meals#}
                let prev_day = "";  //keep track of current day so date displayed once
                let prev_meal = "";  //keep track of current meal  so meal displayed once/day
                let prev_row = '#title-row'; // the id of the previous row (previous to new day) for border
                let title_not_created = true;  //necessary for the creation of the tile row
                for (meal_i=0; meal_i<meal_option.length; meal_i++) {

                    let meal = meal_option[meal_i][0]; //the dict for the Meal object
                    let option = meal_option[meal_i][1]; //the meal option name
                    let mrid = '#mr-'+meal['id']+'-'+ option;  //meal row id which is used to id table rows
                    {#Insert row with id specific to meal#}
                    if (option != "Absent") {
                        // Ignore absent status
                        let meal_row = $("<tr />", {class: "meal-row"});
                        if (prev_day != meal['day']) {
                            // if the day is different from the prev day display the date
                            prev_day = meal['day'];
                            let day_row = $("<tr />", {class: "day-row", id:mrid, colspan:"2"});
                            day_row.append('<th class="mo-cell">' + meal['day'] +'</th>');
                            for (diet_i = 0; diet_i < counts[meal_i].length+1; diet_i++) {
                                // Need +1 for title col
                                //Add blanks
                                day_row.append('<th class="mo-cell"></th>');
                            }
                            $('.results-table').append(day_row);
                            {#// Add thick border to data cells in previous row#}
                            {##}
                            {#$('td',prev_row).each(function () {#}
                            {#    $(this).css('border-bottom','2px solid #022735');#}
                            {# }); #}
                            {#// do the same for the header cells#}
                            {#$('th '+prev_row).each(function () {#}
                            {#    $(this).css('border-bottom','2px solid #022735');#}
                            {# }); #}
                            // set previous row var to current mrid
                            prev_row = mrid;
                        }
                        if (prev_meal != meal['name']){
                            // if the meal is different from the prev meal display the date
                            prev_meal = meal['name'];
                            meal_row.append('<th class="mo-cell">' + meal['name']+'</th>');
                            meal_row.attr('class','new-meal-r'); // if its a new meal row, add the class
                        }else {
                            // otherwise add a blank row
                            meal_row.append('<th class="mo-cell"></th>')
                        }

                        meal_row.append('<th class="meal-option-title"><span>' + option + '<br></span></th>');
                        {# Loop through all the diets/counts for each meal#}
                        for (diet_i = 0; diet_i < counts[meal_i].length; diet_i++) {
                            let diet = counts[meal_i][diet_i][0]; //The diet name
                            let count = counts[meal_i][diet_i][1];  //the count for that diet

                            if (title_not_created) {
                                // only add diets to the titles once
                                if (diet=='None'){
                                    //Change None to Normal for ease of use
                                    diet = 'Normal';
                                }
                                // only add the diet names to the title row once
                                $('.title-row').append('<th class="diet-name">' + diet + '</th>');
                                if (diet_i == counts[meal_i].length-1){
                                    // if it is the last iteration, set the title_not_created to false to prevent duplicate titles
                                    title_not_created = false;
                                }
                            }

                            // add count cell to the meal option row
                            // If the count is 0 don't show a number
                            if (count == 0){
                                meal_row.append('<td class="count-cell"><span></span></td>');
                            } else{
                                if (Array.isArray(count)){
                                    // If the count is an array, its an initials list so display each initial
                                    // in span (for wrapping)
                                    console.log('HI');
                                    let initial_cell = $("<td />", {class: "count-cell"});
                                    for (i=0; i<count.length;i++){
                                        if(i == count.length-1){
                                            // if its the last initial, leave out the trailing comma
                                            initial_cell.append('<span> '+count[i]+'</span>');
                                        }else{
                                            initial_cell.append('<span> '+count[i]+',</span>');
                                        }
                                    }
                                    meal_row.append(initial_cell);
                                } else{
                                    // Otherwise just display count
                                    meal_row.append('<td class="count-cell"><span>' + count + '</span></td>');
                                }
                            }

                        }

                        meal_row.appendTo('.results-table');
                    }
                }

            </script>
        </table>
            {% for result in results_list %}
                {#            result = (meal,{option_name:{diet:count})#}
                {#            indicate in the report if the meal is finalized#}
                <table class="results-table {% if result.0.disabled %}finalized{% endif %}">
                    <tr>
                        {#                    Add one to the number of diets to include status name column #}
                        <th colspan="{{ num_diets|add:1 }}">
                            <span>{{ result.0.meal_type.name }}<br>{{ result.0.day.date }}</span>
                        </th>
                    </tr>
                    {% for status, counts in result.1.items %}
                        {#                        loop through each status#}
                        {% if forloop.counter == 1 %}
                            {#                        Only display the diet names the first loop. This presents the information more clearly#}
                            <tr>
                                <td><span></span></td>
                                {% for diet, count in counts.items %}
                                    {#                                    loop through each count for each diet for each status#}
                                    <td><span class="diet-name">{{ diet }}</span></td>
                                {% endfor %}
                            </tr>

                        {% endif %}
                        <tr>
                            <td><span>{{ status }}</span></td>
                            {% for diet, count in counts.items %}
                                <td style="text-align: center;"><span>{{ count }}</span></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
{#        </div>#}
    </div>
{% endblock %}