{% extends "meal_count/base.html" %}
{% load staticfiles %}
{% load custom_tags %}
{#HTML Template for the Director management page#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/indexstyles.css' %}">
{% endblock %}

{% block scripts %}
    {#    <script src="{% static 'meal_count/view_allscripts.js' %}"></script>#}
    <script>
        {#  Convert django template vars to js vars for use in code#}
        var status_options = {{ all_options|safe }};
    </script>
{% endblock %}

{% block submenu %}
    {#    This submenu allows user to change the currently viewed week. (increment or decrement by one#}
    {#    if it is current week, hide previous button#}
    {% if week_delta == "default" %}
        {#    If its a default week hide the week_delta links and only show the view_all for the director and the current meal count link#}
        {% if perms.person.is_director %}
            {#        provide way for director to view the meal counts for all the people in the center#}
            <div class="submenu-links">
                <a class="clickable" href="/">Personal meal count</a>
                <a class="clickable" href="/all">Current meal counts</a>
            </div>
        {% endif %}

    {% else %}
        {% if week_delta != "default" %}
            {% with week_delta|add:"-1" as prev_week %}
                {% if prev_week < 0 %}
                    {#            if the delta is negative add an n before the number to indicate its in the past#}
                    <a href="/all/{{ week_delta|add:"-1" }}" title="Previous week">&lt;&lt;</a>
                {% else %}
                    {#            otherwise just show index - 1#}
                    <a href="/all/{{ week_delta|add:"-1" }}" title="Previous week">&lt;&lt;</a>
                {% endif %}
            {% endwith %}
            <span>{{ days.0.date|date:"M j" }} - {{ days.last.date|date:"M j" }}</span>
            <a href="/all/{{ week_delta|add:"1" }}" title="Next week">&gt;&gt;</a>
        {% endif %}
        {% if perms.person.is_director %}
            {#        Provide way for director to return to personal view#}
            <div class="submenu-links">
                <a class="clickable" href="/">Personal meal count</a>
                <a class="clickable" href="/all/defaults">All defaults</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{##TODO: for speed try using client side template rendering#}
{% block content %}
    <div class="page-container">
        <div class="status-tables-container flex-left">
            <table class="count_table all-status-table">
                <thead>
                {% csrf_token %}
                <tr>
                    <td></td>
                    {% for person in people %}
                        <td class="ct_cell">{{ person.initials }}</td>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for day in days %}
                    <tr>
                        <td class="ct_cell date-cell" colspan="{{ people.all|length|add:"1" }}">
                        {% if week_delta != 'default' %}
                            {% ifequal day.date today %}Today{% else %}
                                <b>{{ day.date|date:"l" }}{% endifequal %}</b><br>{{ day.date }}<br></td>
                        {% else %}
                            <b>{{ day.date|date:"l" }}</b>
                            <br>Default<br></td>
                        {% endif %}
                    </tr>
                    {% if week_delta != 'default' %}
                    <tr class="msg-input-row" id="i{{ day.id }}" style="display:none;">
                        {#            Add message input row, hidden initially#}
                        <td class="ct_cell date-cell" colspan="{{ people.all|length|add:"1" }}">
                            {% csrf_token %}
                            <input type="text" class="msg-input" id="in{{ day.id }}" }} maxlength="40"
                                   placeholder="{{ day.message }}">
                        </td>
                    </tr>
                    <tr>
                        {#            Add message link row#}
                        <td class="ct_cell date-cell" colspan="{{ people.all|length|add:"1" }}"><a
                                class="add-message clickable" id="{{ day.id }}">
                            {% if day.message is None or day.message == "" %}New message{% else %}
                                {{ day.message }}{% endif %}</a></td>
                    </tr>
                    {% endif %}
                    {% for meal in day.meal_set.all %}
                        <tr>
                            <td class="ct_cell">
                                {% csrf_token %}
                                {{ meal.meal_type.code }}<br>
                                <select class="override-sel" id="{{ meal.id }}" onchange="set_override(this, false);">
                                    {% for override in overrides %}
                                        <option value="{{ override }}"
                                                {% if override == meal.override %}selected{% endif %}>{{ override }}</option>
                                    {% endfor %}
                                </select>
                                {#                        Text input and button for the manual count entry#}
                                <div class="manual-entry" id="me{{ meal.id }}"
                                     {% if meal.override != "Manual Count" %}style="display: none;"{% endif %}>
                                    <input class="manual-count-input" type="number" id="mi{{ meal.id }}"
                                           placeholder="{{ meal.manual_count }}" maxlength="2">
                                    <br>
                                    {#                                use onclick so that only one function has to be used#}
                                    {#                                If clicked send the input not the link#}
                                    <a class="clickable manual-set" id="m{{ meal.id }}"
                                       onclick="set_override($('#{{ meal.id }}').get(0), true);">Set count</a>
                                </div>
                            </td>
                            {% for person in people %}
                                {% with status=meal.status_set|by_person:person %}

                                    {#                                Account for those persons who don't have statuses for certain meals (show N/A)#}
                                    {% if status == None %}
                                        <td class="ct_cell status-box disabled">N/A</td>
                                    {% else %}
                                        <td class="ct_cell status-box
                                                {% if meal.disabled %}{% else %}clickable{% endif %}">
                                            {#                                    NOTE: this span can't have any special characters, so it has to be a single line with no spaces#}
                                            <span class="status-text" id="{{ status.id }}"
                                                  style="{% if status.edited_at is None %}color:blue;{% endif %}">{{ status.status.abbreviation }}</span>
                                        </td>
                                    {% endif %}

                                {% endwith %}
                            {% endfor %}
                        </tr>
                    {% endfor %}


                {% endfor %}
                </tbody>
            </table>
        </div>
        {# A fixed icon in the lower right corner that allows for quick modification of status#}
        <div class="tools-container">
            {% for option in all_options %}
                <div class="tools-option" style="display: none;">
                    <div class="tools-text">{{ option }}</div>
                </div>
            {% endfor %}
            {#    Blank div to be populated with active tool#}
            <div id="tools-active">
                <div class="tools-text">-</div>
            </div>
        </div>
    </div>
{% endblock %}
