

.content{
    text-align: center;

}

.input-container{
    display: inline-block;
    left: 50%;
}

.input-table{

}

.input-table td{
    padding-top: 15px;
}

.label-cell{
    text-align: left;
}



.input-button{
    width: 100px;
    height: 40px;
}