
.content{
    text-align: center;
}

.guest-container{
    display: inline-block;
    overflow: hidden; /* This is to keep the blocks vertically aligned*/
    width: 240px;
    height: 250px;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid #103E50;
    text-align: left;
    padding-left:15px;
    overflow-y: scroll;
}

.guest-container table{
    width: 100%;
    padding-bottom: 10px;
}

.guest-container table td{
    padding-top: 10px;
}

.guest-container .label{
    font-style: italic;
}

.guest-name{
    padding-bottom: 8px;
}

.delete-link-cell{
    text-align: center;
    padding-top: 8px;
}


.add-guest-container{
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

#new-guest-container{
    text-align: left;
}

#id_meals{
    font-size: 14px;
}