/*Stylesheet for the index page (view just the user's meal count*/

.status-tables-container{
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.count_table{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.flex-left{
    justify-content: left !important;
}

.all-status-table{
    display: block !important;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

.count_table .ct_cell{
    text-align: center;
    width: 20px;
    vertical-align: middle;

}
/*Sticky table header*/
.all-status-table th{
    position: sticky;
    position: -webkit-sticky;
    top:0px;
    background-color: white;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-right: -5px;

}

.date-cell{
    text-align: left !important;
}

.msg-cell{
    font-size: 14px;
}

.manual-count-input{
    width:30px;
    margin-top: 5px;
}




#tools-active{
    width: 50px;
    height: 50px;
    background-color: #003E17;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 3px;
}
