/*Styles for the management pages*/

.panel {
    /*A row. Indicates one type of setting.*/
    border-bottom: 1px solid #802815;
    padding: 20px;
    text-align: center;

}

.panel-title{
    font-size: 24px;
    color: #802815;
}

.widget{
    /*A box within a widget. It contains the info for one instance.*/
    display: inline-block;
    margin: 10px;
    width:  150px;
    height: 110px;
    /*border: 1px solid #802815;*/
    background-color: #6D92A0;
    padding: 5px;
}

.widget table{
    text-align: left;
    width: 100%;
}

.widget-label{
    font-style: italic;
    width: 50%;
    padding-left: 10px;
}

.widget-data{
    padding-left: 5px;
    width: 50%;
}

.widget-submit{
    text-align: center;
}

.widget-submit{
    padding-top: 10px;
}



#status-panel .widget{
    width: 230px;
    height: 150px;
}

#diet-panel .widget{
    width: 270px;
    height: 150px;
}

#meal-panel .widget{
    width: 300px;
    height: 175px;
}

#meal-panel .widget-label{
    width:30%;
}

#meal-panel .widget-data{
    width: 70%;
}

/*Manage Options*/
.table-container{
    text-align: center;

}

.m_table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    display: inline-block;
}

.m_table td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.m_table th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.m_table .opt_cell {
    vertical-align: top
}

.m_table .optc-name {
    width: 160px;
}

.m_table .optc-code {
    width: 60px !important;
}

.m_table .optc-action{
    width: 160px;
}

.m_table .optc-mealtime{
    width: 100px;
}

#new-option{
    display: none;
}

#add-option{
    text-align: center;
}

#new-diet{
    display: none;
}

#add-diet{
    text-align: center;
}

#new-meal{
    display: none;
}

#add-meal{
    text-align: center;
}

.actions-bar{
    text-align: center;
}