.page-container{
    justify-content: center;
    padding-bottom: 25px;
    overflow: scroll;
    margin-right: 20px !important;
}

.table-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

}

.results-table{
    /*display: flex;*/
    border: 1px solid;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    justify-content: left;

    /*max-width: 315px;*/
    /*overflow: scroll;*/
}

.results-table th{
    /*border-bottom: 1px solid #022735;*/
    border-right: 1px solid #022735;
    font-size: .8rem !important;
}

.results-table td{
    /*border-bottom: 1px solid #022735;*/
    border-right: 1px solid #022735;
    font-size: .8rem !important;
}

.diet-name{
    padding: 5px;
}
.meal-option-title{
    text-align: left;
    vertical-align: center;
    padding: 5px 5px 1px 1px;
    border-top: 1px solid #022735;
}

.mo-cell{
    padding: 5px 5px 1px 1px;

}

.count-cell{
    vertical-align: bottom;
    border-top: 1px solid #022735;
    padding: 5px 5px 1px 1px;
    max-width: 150px;
    font-size: .8rem !important;
}

.day-row th{
    border-top: 2px solid #022735;
    /*border-right: none !important;*/
}

.new-meal-r td{
    border-top: 1px solid #022735;
}
.new-meal-r th{
    border-top: 1px solid #022735;
}

.results-table td{
    padding-right: 5px;
    /*border-right: 1px solid #022735;*/
    /*border-bottom: 1px solid #022735;*/
    text-align: center;
}

@media screen and (max-width: 600px) {
  .table-container{
      flex-direction: column;
      align-content: center;
      margin-right:20px;
  }
    .results-table{
        align-content: center;
    }
}

.results-table th{
    text-align: center;
}

.finalized{
    background-color: #4D9A6A;
}

.diet-name{
    font-style: italic;
}
