
/*Color Scheme paletton url: http://paletton.com/#uid=72X0u0kllllaFw0g0qFqFg0w0aF*/

color-primary-0 { color: #297B48 }	/* Main Primary color */
.color-primary-1 { color: #7BB992 }
.color-primary-2 { color: #4D9A6A }
.color-primary-3 { color: #0F5D2C }
.color-primary-4 { color: #003E17 }

.color-secondary-1-0 { color: #27586B }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #6D92A0 }
.color-secondary-1-2 { color: #457485 }
.color-secondary-1-3 { color: #103E50 }
.color-secondary-1-4 { color: #022735 }

.color-secondary-2-0 { color: #AA7439 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFD6AA }
.color-secondary-2-2 { color: #D4A26A }
.color-secondary-2-3 { color: #804D15 }
.color-secondary-2-4 { color: #552C00 }

.color-complement-0 { color: #AA4C39 }	/* Main Complement color */
.color-complement-1 { color: #FFB9AA }
.color-complement-2 { color: #D47D6A }
.color-complement-3 { color: #802815 }
.color-complement-4 { color: #550F00 }

/*Bootstrap overrides & additions*/
.center-pills{
    display: flex;
    justify-content: center;
}

.toolbar-bottom-right{
    bottom:0px;
    right:0px;
}

.border-2 {
    border-width:2px !important;
}

.standard-card-width{
    width: 14rem;
}
/*Header bar styles*/

/* Add a black background color to the top navigation */
body {
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 15px;

}

/*set up so that printing only prints printable-area id*/
@media print {
  body * {
    visibility: hidden;
  }
  #printable-area * {
    visibility: visible;
  }
  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.error{
    color: #9f0700;
}

.nav-bar {
  overflow: hidden;
  background-color: #022735;
}

.nav-bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar span {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar #account{
    float: right;
}

.nav-bar a:hover {
  background-color: #457485;
  color: #022735;
}


.page-container{
    overflow-x: scroll;
}
.nav-bar .icon {
  display: none;
}

@media screen and (max-width: 760px) {
  .nav-bar a:not(:first-child) {display: none;}
  .nav-bar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 760px) {
  .nav-bar.responsive {position: relative;}
  .nav-bar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav-bar.responsive #account{
    float: none;
  }

}

/*Submenu styles*/

.submenu{
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #457485;
}
.submenu a{
    display: inline-block;
    color: #022735;
    text-align: center;
    padding: 10px 12px;
    text-decoration: underline;
    font-size: 17px;
}

.submenu a:hover {
  color: #550F00 !important;
}

.submenu a.active {
  color: #550F00 !important;
}

.submenu span{
    display: inline-block;
    color: #022735;
    text-align: center;
    padding: 10px 12px;
    font-size: 17px;
}

.submenu-title{
    color: #022735;
    text-align: center;
    font-size: 17px;
}

/*Table styles*/
.count_table {
    border-collapse: collapse;
    border-spacing: 0;
}

.count_table td {
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.count_table th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.count_table .ct_cell {
    text-align: left;
    vertical-align: top;
    min-width: 60px;
}

/* make cells smaller for view all table*/
.all-status-table .ct_cell{
    text-align: left;
    vertical-align: top;
    min-width: 20px;
}


.clickable{
    color: #022735;
    text-decoration: underline;
    cursor: pointer;
}

.clickable:hover{
    color: #550F00 !important;
    text-decoration: underline;
}

.disabled{
    cursor: default;
    background-color: lightgray;
}

.fixed-sub{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.submit-input{
    height: 35px;
}

.popup-container{
    position: fixed;
    width: 100%;
    top: 30%;
}
.popup{
    width:80%;
    margin: 0 auto;
    background-color: #457485;
    padding: 20px;
}

.popup-text{
}



.popup-input{
    height: 22px;
}

.popup-button{
    height: 31px;
}

.submenu-links{
    text-align: center;
}
.submenu-links a{
    /*padding-left: 5px;*/
}
.submenu-links span{
    /*padding-left: 5px;*/
}