{% extends "meal_count/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}

{#HTML template that shows the report for the upcoming meals#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/styles/reportstyles.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block submenu %}
    <div class="submenu-links">
        {#                <a class="clickable" href="/all/default">All defaults</a>#}
        {% if report_type != 'week' %}
            <span>{% trans "2-day View" %}</span>
            <a class="{% if report_type == 'week' %}clickable{% else %}{% endif %}"
               href="










                       {% if is_initials == True %}{% url 'meal-count:initials_report_week' center.name %}{% else %}{% url 'meal-count:current_count_week' center.name %}{% endif %}">{% trans "Weekly View" %}</a>
        {% else %}
            <a class="clickable"
               href="










                       {% if is_initials == True %}{% url 'meal-count:initials_report' center.name %}{% else %}{% url 'meal-count:current_count' center.name %}{% endif %}">{% trans "2-day View" %}</a>
            <span>{% trans "Weekly View" %}</span>
        {% endif %}

    </div>
{% endblock %}


{% block content %}

    {#    Pills for page options#}
    <div class="col-md-12 text-center">
        <div class="nav nav-pills center-pills">
            <div class="nav-item my-2">
                <a class="nav-link {% if report_type != 'week' %}active{% endif %}"
                   href="



                           {% if is_initials == True %}{% url 'meal-count:initials_report' center.name %}{% else %}{% url 'meal-count:current_count' center.name %}{% endif %}">{% trans "2-day View" %}</a>
            </div>
            <div class="nav-item my-2">
                <a class="nav-link {% if report_type == 'week' %}active{% endif %}"
                   href="{% if is_initials == True %}{% url 'meal-count:initials_report_week' center.name %}{% else %}{% url 'meal-count:current_count_week' center.name %}{% endif %}">{% trans "Weekly View" %}</a>
            </div>
            {#            # only show initials if user is authenticated#}
        </div>
        {% if user.is_authenticated %}
            <div class="my-2 mx-1">
                <button class="btn btn-secondary" data-toggle="buttons" id="show-initials"><span
                        class="initials-list-item">Show</span><span
                        class="initials-list-item collapse">Hide</span> Initials
                </button>

            </div>
        {% endif %}
    </div>

    </div>
    </div>

    <div class="container my-5 d-flex flex-column flex-wrap justify-content-center">

        {#    Loop through meals#}
        {% for meal, meal_counts in results_list %}

            <div class="card mx-2 my-3">
                <div class="card-header">
                    {% trans meal.meal_type.name %} - {{ meal.day.date }}
                </div>
                <div class="card-body">
                    {% if meal.override != None and meal.override != "No Override"%}
                        <div class="alert alert-primary">Meal override: {{ meal.override }}</div>
                    {% endif %}
                    <div class="list-group list-group-flush">
                        {% for status_opt, counts in meal_counts.items %}
                            <div class="list-group-item">
                                <h6 class="d-inline-block">
                                    <span class="badge badge-primary"
                                          style="font-size: 1em; width: 2.5rem;">{{ counts.0 }}</span>
                                    {{ status_opt }}
                                </h6>
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <span class="text-primary">Diets: </span>
                                        {% if counts.2|length != 0 %}
                                            {% for diet in counts.2 %}
                                                <span>{{ diet }}</span>
                                            {% endfor %}
                                        {% else %}
                                            <span>None</span>
                                        {% endif %}
                                    </div>
                                    {#            # only show initials if user is authenticated#}
                                    {% if user.is_authenticated %}
                                        <div class="list-group-item collapse initials-list-item">
                                            <span class="text-primary">Initials: </span>
                                            {% for initial in counts.1 %}
                                                <span class="">
                                        {{ initial }}
                                    </span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                {% if user.is_authenticated %}
                    {% if meal.message == None or meal.message == "" and user.is_authenticated %}
                            <a class="card-link add-message" href="#"
                               onclick="$('#message-modal-{{ meal.id }}').modal('show');">{% trans "Set Message" %}</a>
                        {% else %}
                            <a class="card-link add-message" href="#"
                               onclick="$('#message-modal-{{ meal.id }}').modal('show');">Message: {{ meal.message }}</a>
                        {% endif %}
                    {% else %}
                        <span class="">Message: {{ meal.message }}</span>
                    {% endif %}
                </div>
            </div>

            {#                Message modal#}
                        <div class="modal" id="message-modal-{{ meal.id }}" tabindex="-1">
                        {% csrf_token %}
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{% trans "Set Message" %}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3 ml-2">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text"
                                                       for="inputGroupManualCount">{% trans "Message" %}</label>
                                            </div>
                                            <input class="form-control" type="text" id="in{{ meal.id }}"
                                                   {% if meal.message != None %}value="{{ meal.message }}"
                                                   {% else %}placeholder="{% trans 'Message' %}"{% endif %}
                                                   maxlength="100">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary" data-d-id="{{ meal.id }}"
                                                onclick="set_message(this);"
                                                data-url="{% url 'meal-count:add_message' %}" data-msg-type="meal">
                                            Set Message
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

        {% endfor %}

    </div>

    {##}
    {#    <div class="table-container" id="printable-area">#}
    {#        <table class="results-table" cellspacing="0" cellpadding="0">#}
    {#            <thead class="sticky-header">#}
    {#            <tr>#}
    {#                <th>{% trans "Diets" %}:</th>#}
    {#                {% for diet in ordered_diets %}#}
    {#                    <th>{% trans diet.name %}</th>#}
    {#                {% endfor %}#}
    {#            </tr>#}
    {#            </thead>#}
    {#            {% for meal, options in results_list %}#}
    {#            Meal title#}
    {#                <tr class="meal-title-row">#}
    {#                    <th class="meal-title-cell"#}
    {#                        colspan="{{ ordered_diets|length|add:1 }}">{% trans meal.meal_type.name %}#}
    {#                        - {{ meal.day.date }}</th>#}
    {#                </tr>#}
    {##}
    {#                {% for option in ordered_options %}#}
    {#                Show an alternating shading for each row#}
    {#                    {% if options|dict_val:option.name == None %}#}
    {#                    {% else %}#}
    {##}
    {##}
    {#                        <tr class="results-row">#}
    {#            Display option name#}
    {#                            {% define new_option as True %}#}
    {#                            {% with options|dict_val:option.name as diets %}#}
    {#                                {% if diets == None %}#}
    {#                                {% else %}#}
    {#                                    <td>{% trans option.name %}</td>#}
    {#                                {% endif %}#}
    {#                            {% endwith %}#}
    {#            Display counts/initials#}
    {#                            {% for diet in ordered_diets %}#}
    {#                                {% with options|dict_val:option.name as diets %}#}
    {#                                    {% if diets != None %}#}
    {#                                        <td>#}
    {#                                            {% if is_initials %}#}
    {##}
    {#                                                {% if center.show_count_in_initials %}#}
    {#                                        Show the count above the initials if called for in the settings#}
    {#                                                    FIXME: manual count shows count of 1 in initials#}
    {#                                                    {{ diets|dict_val:diet.name|length }}#}
    {#                                                    <hr>#}
    {#                                                {% endif %}#}
    {#                                    Show initials (have to join list)#}
    {#                                                {{ diets|dict_val:diet.name|join:", " }}#}
    {#                                            {% else %}#}
    {#                                    Show count#}
    {#                                                {{ diets|dict_val:diet.name }}#}
    {#                                            {% endif %}#}
    {#                                        </td>#}
    {#                                    {% endif %}#}
    {#                                {% endwith %}#}
    {#                            {% endfor %}#}
    {#                        </tr>#}
    {#                    {% endif %}#}
    {#                {% endfor %}#}
    {#            {% endfor %}#}
    {#        </table>#}
    {#    </div>#}
{% endblock %}