{% extends "meal_count/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}

{#HTML template that shows the report for the upcoming meals#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'meal_count/styles/reportstyles.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block submenu %}
    <div class="submenu-links">
        {#                <a class="clickable" href="/all/default">All defaults</a>#}
        {% if report_type != 'week' %}
            <span>{% trans "2-day View" %}</span>
            <a class="{% if report_type == 'week' %}clickable{% else %}{% endif %}"
               href="{% if is_initials == True %}{% url 'meal-count:initials_report_week' center.name %}{% else %}{% url 'meal-count:current_count_week' center.name %}{% endif %}">{% trans "Weekly View" %}</a>
        {% else %}
            <a class="clickable"
               href="{% if is_initials == True %}{% url 'meal-count:initials_report' center.name %}{% else %}{% url 'meal-count:current_count' center.name %}{% endif %}">{% trans "2-day View" %}</a>
            <span>{% trans "Weekly View" %}</span>
        {% endif %}

    </div>
{% endblock %}


{% block content %}
    <div class="table-container" id="printable-area">
        <table class="results-table" cellspacing="0" cellpadding="0">
            <thead class="sticky-header">
            <tr>
                <th>{% trans "Diets" %}:</th>
                {% for diet in ordered_diets %}
                    <th>{% trans diet.name %}</th>
                {% endfor %}
            </tr>
            </thead>
            {% for meal, options in results_list %}
                {#            Meal title#}
                <tr class="meal-title-row">
                    <th class="meal-title-cell" colspan="{{ ordered_diets|length|add:1 }}">{% trans meal.meal_type.name %}
                        - {{ meal.day.date }}</th>
                </tr>

                {% for option in ordered_options %}
                    {#                Show an alternating shading for each row#}
                    {% if options|dict_val:option.name == None %}
                    {% else %}


                        <tr class="results-row">
                            {#            Display option name#}
                            {% define new_option as True %}
                            {% with options|dict_val:option.name as diets %}
                                {% if diets == None %}
                                {% else %}
                                    <td>{% trans option.name %}</td>
                                {% endif %}
                            {% endwith %}
                            {#            Display counts/initials#}
                            {% for diet in ordered_diets %}
                                {% with options|dict_val:option.name as diets %}
                                    {% if diets != None %}
                                        <td>
                                            {% if is_initials %}

                                                {% if center.show_count_in_initials %}
                                                    {#                                        Show the count above the initials if called for in the settings#}
{#                                                    FIXME: manual count shows count of 1 in initials#}
                                                    {{ diets|dict_val:diet.name|length }}
                                                    <hr>
                                                {% endif %}
                                                {#                                    Show initials (have to join list)#}
                                                {{ diets|dict_val:diet.name|join:", " }}
                                            {% else %}
                                                {#                                    Show count#}
                                                {{ diets|dict_val:diet.name }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}